*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.header{
  background-color: #333;
  color:#fff;
  text-align: center;
  padding:20px 0;
}

.header__title{
  font-size: 24px;
  
}

.header__nav-list{
  margin-top:20px;
}

.nav-list{
  display:flex;
  justify-content: center;
  gap:20px;
  list-style: none;
  padding:0;
  flex-wrap: wrap;
}
.nav-list__link{
  text-decoration: none;
  color:#fff;
  font-weight: bold;
}
.nav-list__link--active{
  color:orange;
}

.main{
  padding:40px;
}

.about__title, .portfolio__title,.contact__title{
  font-size: 24px;
  padding:30px 0;
}

.about__text{
  margin-bottom: 20px;
}

.portfolio__cards{
  display:flex;
  justify-content: space-between;
  gap:30px;

}
.project{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:20px;
  margin-bottom: 20px;
  padding:20px;
  border:1px solid #ccc;
  text-align: center;
}

.project__image{
  width: 100%;
  max-width: 400px;
}
.project__title{
  font-size: 18px;
  text-align: center;
  
}


.project__button{
  background-color: #333;
  padding:10px 20px;
  color:#fff;
}

.contact__form{
  margin:20px;
}

.contact__label{
  display: block;
  margin:5px 0;
  font-weight: bold;
  
}

.contact__input,.contact__textarea{
  resize: none;
  width: 100%;
  max-width: 500px;
  border: 1px solid #ccc;
}
.contact__submit{
  background-color: #333;
  color:#fff;
  padding:10px 20px;
  border:none;
  cursor: pointer;
  margin-top:10px;
}

.footer{
  background-color: #333;
  color:#fff;
  text-align: center;
  padding:10px 0;
}

@media  screen and (max-width:900px) {
 
  .portfolio__cards{
    flex-direction: column;
  }
  
}